/* Larsseit */

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Light.woff2') format('woff2'),
      url('../fonts/Larsseit-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit.woff2') format('woff2'),
      url('../fonts/Larsseit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Italic.woff2') format('woff2'),
      url('../fonts/Larsseit-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-BoldItalic.woff2') format('woff2'),
      url('../fonts/Larsseit-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Bold.woff2') format('woff2'),
      url('../fonts/Larsseit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-ExtraBold.woff2') format('woff2'),
      url('../fonts/Larsseit-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Larsseit-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}


/*
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-MediumItalic.woff2') format('woff2'),
      url('../fonts/Larsseit-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Medium.woff2') format('woff2'),
      url('../fonts/Larsseit-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
*/



/* GT Super Display */

@font-face {
  font-family: 'GT Super Display';
  src: url('../fonts/GTSuperDisplay-Light.woff2') format('woff2'),
      url('../fonts/GTSuperDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Super Display';
  src: url('../fonts/GTSuperDisplay-Regular.woff2') format('woff2'),
      url('../fonts/GTSuperDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Super Display';
  src: url('../fonts/GTSuperDisplay-RegularItalic.woff2') format('woff2'),
      url('../fonts/GTSuperDisplay-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT Super Display';
  src: url('../fonts/GTSuperDisplay-Bold.woff2') format('woff2'),
      url('../fonts/GTSuperDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Super Display';
  src: url('../fonts/GTSuperDisplay-BoldItalic.woff2') format('woff2'),
      url('../fonts/GTSuperDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GT Super Display Super';
  src: url('../fonts/GTSuperDisplay-Super.woff2') format('woff2'),
      url('../fonts/GTSuperDisplay-Super.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GT Super Display Super';
  src: url('../fonts/GTSuperDisplay-SuperItalic.woff2') format('woff2'),
      url('../fonts/GTSuperDisplay-SuperItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}



/* GT Super Text */

@font-face {
  font-family: 'GT Super Text';
  src: url('../fonts/GTSuperText-Book.woff2') format('woff2'),
      url('../fonts/GTSuperText-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Super Text';
  src: url('../fonts/GTSuperText-BookItalic.woff2') format('woff2'),
      url('../fonts/GTSuperText-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT Super Text';
  src: url('../fonts/GTSuperText-Bold.woff2') format('woff2'),
      url('../fonts/GTSuperText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Super Text';
  src: url('../fonts/GTSuperText-BoldItalic.woff2') format('woff2'),
      url('../fonts/GTSuperText-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
